# Disallow access to EC2/Openstack metadata server to all but root
# Based on: http://serverfault.com/questions/436086/how-to-prevent-firewall-calls-to-aws-ec2-instance-metadata-api
*filter
-A OUTPUT -d 169.254.169.254/32 -m owner ! --uid-owner 0 -m comment --comment "Restrict access to metadata server" -j DROP
COMMIT